<%-include('./partials/header.ejs')  %>

    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST"> 
        <!-- action : vers où on envoie -->
        <input type="hidden" value="<%= typeof p!=="undefined"?p._id:"" %>" name="productId">
        <!-- "name" permet de l'identifier et réqupérer dans la bdd -->
        <input type="text" name="title" placeholder="nom du produit" value="<%= typeof p!=="undefined"?p.title:"" %>">
        <input type="text" name="price" placeholder="prix" value="<%= typeof p!=="undefined"?p.price:"" %>">
        <button>Envoyer</button>
    </form>
    
    <%-include('./partials/footer.ejs')  %>